body {
  margin: 0;
  padding 0;

  font-family: "Open Sans", sans-serif;
}

.header {
  width: 100%;
  background-color: #E6E6E6;
  height: 100px;
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
}

.header-logo {
  height: 100%;
  width: auto;
  float: left;
}

.header-logo > img {
  height: 100%;
}

.header-nav {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: table;
}

.header-nav-link {
  vertical-align: middle;
  font-size: 25px;
  height: auto;
  width: 100px;
  display: table-cell;
}

.section {
  margin-top: 60px;
}

a {
  color: #105965;
  text-decoration: none;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  color: #105965;
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 22px;
}

.main {
  width: 60%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.footer {
  color: #A7A7A7;
  font-size: 14px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 20px;
}
